/* style.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 100vh;
}

img.logo {
  max-width: 150px; 
  height: auto;
  margin-top: 25px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  text-align: center;
  margin-bottom: 20px;
}

.logo-container {
  margin-left: 20px; 
}

.title-container {
  flex-grow: 1; 
  text-align: left; 
  margin-left: 20px;
}

#chat-container {
  width: 100%;
  max-width: 800px;
  margin-top: 15px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.message-time {
  color: #a8a8a8;
}

#messages {
  height: 500px;
  overflow-y: auto;
  border: 1px solid #333; 
  background-color: #252526; 
  padding: 10px;
  margin-bottom: 20px;
}

#input-container {
  display: flex; 
  align-items: center; 
}

input[type="text"] {
  flex-grow: 1; 
  padding: 10px;
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: white;
  margin-right: 10px; 
  border-radius: 4px;
}

button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  border: none;
  background-color: #0056b3; 
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  white-space: nowrap; 
}

button:hover {
  background-color: #014792; 
}

button img {
  height: 25px;
  width: auto;
  filter: invert(100%);
}

button[onclick*="clearMessages"] {
  scale: 80%;
  border-radius: 5px;
  background-color: #41464b; 
  margin-left: 10px; 
}

button[onclick*="clearMessages"]:hover {
  background-color: #a10606; 
}

@media (max-width: 600px) {
  input[type="text"] {
      width: calc(100% - 120px); 
  }

  button {
      margin-right: 0;
  }
}

/* */
/* */
/* Estilos específicos para el contenedor de registro */
/* */
/* */

#register-container {
  width: 100%;
  max-width: 500px; /* o el ancho que prefieras */
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
}

/* Estilos específicos para el formulario de registro */
#register-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#register-form .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

#register-form .form-group label {
  flex-basis: 30%; /* Ajusta según la longitud de tus etiquetas */
  text-align: right;
  margin-right: 10px;
}

#register-form .form-group input[type="text"],
#register-form .form-group input[type="password"],
#register-form .form-group input[type="color"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: white;
  border-radius: 4px;
  margin-right: 0px;
}

#register-form button {
  padding: 10px;
  border: none;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#register-form button:hover {
  background-color: #014792;
}

#register-form .form-group input[type="color"] {
  width: auto; /* Establece el ancho automático para el selector de color */
  height: 50px;
  padding: 0; /* Elimina el relleno para evitar espacio adicional */
  border: none; /* Elimina el borde predeterminado */
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
  #register-form .form-group {
    flex-direction: column;
    align-items: stretch;
  }

  #register-form .form-group label {
    text-align: left;
    margin-bottom: 5px;
  }

  #register-form .form-group input,
  #register-form button {
    width: 100%;
  }
}



/* */
/* */
/* Estilos específicos para el contenedor de login */
/* */
/* */

#login-container {
  width: 100%;
  max-width: 500px;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
}

/* Estilos específicos para el formulario de login */
#login-form {
  display: flex;
  flex-direction: column;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 10px;
  margin-bottom: 15px; /* espacio entre los campos */
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: white;
  border-radius: 4px;
  margin-right: 0px;
}

#login-form button {
  padding: 10px;
  border: none;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#login-form button:hover {
  background-color: #014792;
}

/* Estilos para el enlace de registro */
#login-form a {
  text-align: center;
  margin-top: 30px;
  color: red;
  text-decoration: none;
}

#login-form a:hover {
  text-decoration: underline;
}
