<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pythonChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <nav>
        <div class="nav-left">
            <img src="{{ url_for('static', filename='logo.webp') }}" alt="Logo" class="logo">
            <h1>pythonChat</h1>
        </div>
        <div class="nav-right">
            <span>Bienvenido, <b style="color: {{ current_user.color }};">{{ current_user.username }}</b></span>
            <button class="logout-button" onclick="location.href='{{ url_for('logout') }}'">
                <img class="logout-img" src="{{ url_for('static', filename='logout.svg') }}" alt="Borrar historial" />
            </button>
        </div>
    </nav>
</head>

<body>
    <div id="chat-container">
        <div id="messages">
            <!-- Iterar sobre los mensajes pasados por Flask -->
            {% for message in messages %}
            <div>
                <span class="message-time" data-utc-time="{{ message.timestamp.isoformat() }}Z">[{{ message.timestamp.strftime('%H:%M:%S') }}]</span>
                <span style="color: {{ message.color }}"><b>{{ message.nickname }}</b></span>: {{ message.text }}
            </div>
            {% endfor %}
        </div>
        
        <div id="input-container">
            <input type="text" id="message-input" placeholder="Escribe un mensaje...">
            <button onclick="sendMessage()">Enviar</button>
            <button onclick="clearMessages()" title="Borrar historial de mensajes">
                <img src="{{ url_for('static', filename='trash-can.svg') }}" alt="Borrar historial" />
            </button>            
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>