<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - pythonChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.webp') }}" alt="Logo" class="logo">
        </div>
        <div class="title-container">
            <h1>Conéctate a pythonChat</h1>
        </div>
    </header>
    <div id="login-container">
        <form id="login-form" method="post">
            <input type="text" id="username" name="username" placeholder="Usuario" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Conectarse</button>
            <p class="login-subtitle">¿No tienes una cuenta? <a style="color: rgb(0, 183, 255);" href="{{ url_for('register') }}">Regístrate aquí</a></p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
