<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - pythonChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
      <div class="logo-container">
          <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
      </div>
      <div class="title-container">
          <h1>Regístrate en pythonChat</h1>
      </div>
  </header>
  <div id="register-container">
    <form id="register-form" method="post" action="{{ url_for('register') }}" class="form-container">
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="nickname">Nick:</label>
            <input type="text" id="nickname" name="nickname" placeholder="Nickname" required>
        </div>

        <div class="form-group">
          <label for="color">Color para tu nick:</label>
          <input type="color" id="color" name="color" class="color-input" required>
      </div>

        <button type="submit">Crear cuenta</button>
    </form>
</div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
